{% extends "base_template.html" %}

{% block title %} Home {% endblock %}

{% block head %}
  {{ super() }}
<script type="text/javascript">
		$(".table-togglable").DataTable({
            bLengthChange: true,
            "lengthMenu": [ [10, 15, 25, 50, 100, -1], [10, 15, 25, 50, 100, "All"] ],
            "iDisplayLength": 50,
            bInfo: false,
            responsive: true,
            "bAutoWidth": false
        });
</script>
{% endblock %}

{% block content %}

{% block current_page %} Connections {% endblock %}

<main class="cd-main-content">
    <center>
        <div class="container">
            <br><br><br><br>
            <form action='/connections' class="form" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="searched_item" placeholder="Device Name">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <br><br>
            {{ data_table | safe }}

            <br><br><br>

            {{ status_table | safe }}
        </div>

    </center>
    <br><br>

</main>

{% endblock %}

