{% extends "base_template.html" %}

{% block title %} Home {% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}


{% block current_page %} Home {% endblock %}

{% block glowing_home_in_side_bar %}"nav-item active"{% endblock %}

<!----------body starts---------->
{% block content %}

    <div id="alert-body" class="modal-body"></div>

    {% block extra_javaScript %}
        <script
                type="text/javascript" src="{{ url_for('static', filename='js/dashboard-alerts.js') }}">
        </script>
    {% endblock %}


{% endblock %}